@import "variables";
.vis-timeline {
    margin-top: 0px;
    background-color: darken($white,2%);
    border-radius: 4px !important;
    .vis-time-axis .vis-text.vis-major {
        font-weight: bold;
    }
    .vis-item.vis-range, .vis-item.vis-point, .vis-item.vis-background {
        border-radius: 3px;
    }

    .vis-item .vis-item-content {
        border-radius: 3px;
    }
    .vis-panel {
        border-color: $border-color;


        .vis-label {


            &.vis-nested-group {
                background-color: #fafbfd;
            }

            /*vis-label draggable vis-nested-group --edf2f5 */
        }

        .vis-left {
            border-color: $border-color;
        }


        .vis-labelset .vis-label {
            border-color: $border-color;
            .vis-inner {
                min-width: 200px;
            }


        }


    }
    .vis-right, .vis-top, .vis-bottom {
        background-color: $white;
    }
    .vis-foreground  {
        .vis-group {
            border-color: $border-color;
        }

    }
    /* alternating column backgrounds */
    .vis-time-axis .vis-grid.vis-odd {
        //background: #fafbfd;
        background: darken($white, 5%) ;
    }
    .vis-time-axis .vis-grid.vis-even {
        //background: #fafbfd;
        background:  $white;
    }
    .vis-time-axis .vis-grid.vis-saturday,
    .vis-time-axis .vis-grid.vis-sunday {
        background: rgba(174, 82, 212, 0.11);
    }
    .vis-time-axis .vis-text {
        color: $body-color;
    }
}

.vis-item {
    border-color: #004ba0;
    background-color: rgba(99, 164, 255, 0.4);
    &.visTmr-ownColor {

    }
    &.vis-selected {
        border-color: #ffc200;
        background-color: #fff785 !important;
        color: #000 !important;
    }

    .progress-wrapper {
        background: white;
        width: 100%;
        height: 12px;
        text-align: center;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .progress {
            height: 100%;
            width: 60%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 0;
            background: #63a4ff;
            &.barred {
                background: #9f3a3a;
            }
        }
        .progress-label {
            position: absolute;
            z-index: 1;
            font-weight: bold;
            font-size: 10px;
            text-shadow: 1px 1px 0 white, 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
            color: #000000;
        }
    }

}
.vis-label {
    padding-right: 15px;
}
.vis-label .timeline-dots {
    position: absolute;
    right: 5px;
    display: none;
    top: 5px;
    font-size: 15px;
}
.vis-label:hover .timeline-dots {
    display: block;
}

.timelineContent {
    .topbtns {
        position: absolute;
        top: 0;
        left: 0;
    }
    .vis-timeline {
        margin-top: 45px;
    }
}
[data-bs-theme="dark"] {
    .vis-timeline {
        border: 0 !important;
        background-color: darken($body-bg-dark,5%);
        color: $body-color-dark;
        .vis-panel {
            border-color: $border-color-dark;
            .vis-label {
                &.vis-nested-group {
                    background-color: #ee0c19;
                }
            }
            .vis-left {
                border-color: $border-color-dark;
            }
            .vis-labelset .vis-label {
                border-color: $border-color-dark;
                color: $body-color-dark;
            }
        }

        .vis-right, .vis-top, .vis-bottom {
            background-color: $body-bg-dark,;
        }


        .vis-foreground  {
            .vis-group {
                border-color: $border-color-dark;
            }
        }
        .vis-time-axis .vis-grid.vis-major {
            border-color: $border-color-dark;
        }
        .vis-time-axis .vis-grid.vis-minor {
            border-color: $border-color-dark;
        }
        .vis-time-axis .vis-grid.vis-odd {
            //background: #fafbfd;
            background:  lighten($body-bg-dark, 10%) ;
        }
        .vis-time-axis .vis-grid.vis-even {
            //background: #fafbfd;
            background:  $body-bg-dark;
        }
        .vis-time-axis .vis-grid.vis-saturday,
        .vis-time-axis .vis-grid.vis-sunday {
            background: rgba(174, 82, 212, 0.11);
        }
        .vis-time-axis .vis-text {
            color: $body-color-dark;
        }

        .vis-item {
            border-color: #004ba0;
            background-color: rgba(99, 164, 255, 0.4);

            &.vis-selected {
                border-color: darken($orange, 20%);
                background-color:  rgba($orange, 0.6) !important;
                color: #000 !important;
            }

            .progress-wrapper {
                background: $gray-300;

                .progress {
                    background: $blue;

                    &.barred {
                        background: $red;
                    }
                }

                .progress-label {
                    text-shadow: 1px 1px 0 white, 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
                    color: #000000;
                }
            }
        }
    }
}
