.is-380 {
    width: 380px;
}
.is-350 {
    width: 350px;
}
.is-300 {
    width: 300px;
}
.is-280 {
    width: 280px;
}
.b-tabs {
    .tabs {
        ul {
            height: 40px;
        }
    }
}
.heading-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: #4a0072;
    border-bottom: 1px solid #ae52d4;
    color: #fff;
    text-align: right;
    padding-right: 10px ;
}
.correct-hero {
    padding: 12px 20px;
}
.mainBgColor {
    background: #7b1fa2;
    .title, .subtitle {
        color: #ffffff !important;
    }
    border-bottom: 1px solid #ae52d4;
}
.timelineContent {
    background: #F5F5F6;

    .buttons {
        margin-bottom: 0;
        section {
            margin-right: 10px;
        }
    }
}
.menu-list a:hover {
     background-color: #ae52d4;
     color: #000;
 }
.menu-list a:active {
    background-color: #7b1fa2;
    color: #ffff;
}
.menu-add-project {
    position: absolute;
    left: 230px;
    margin-top: 5px;
}
.show-menu-btn {
    position: absolute;
}
.logout-area {
    position: absolute;
    top: 110px;
    right: 10px;
}
.bear-logo {
    float: left; margin-right: 20px;
}
.deleted-row {
    opacity: 0.5;
}
/*
7b1fa2 pimary
ae52d4 light
dark 4a0072
*/
