
/*
7b1fa2 pimary
ae52d4 light
dark 4a0072
*/
.vis-item {
    border-color: #ae52d4;
    background-color: #ebd5f5;
    &.visTmr-ownColor {

    }
}
/* alternating column backgrounds */
.vis-time-axis .vis-grid.vis-odd {
    background: rgba(0, 0, 0, 0.03);
}
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
    background: rgba(174, 82, 212, 0.11);
}
.vis-nested-group {
    background: rgba(0, 0, 0, 0.03);
}

